<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Demo of ACE Editor</title>
    <!--导入js库-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.clouddeep.cn/amazeui/1.0.1/css/amazeui.basic.min.css">
    <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>
    <style>
        #code{
            width:600px;
            height:300px;
        }
        #codeResponce{
            width:600px;
            height:300px;
        }
    </style>
</head>

<body>
<div align="center">
<div class="am-form-group">
    <label for="requestUrl">请求地址</label>
    <input class="am-form-field" style="width: 500px" type="text" id="requestUrl" placeholder="输入请求地址">
</div>

<!--代码输入框（注意请务必设置高度，否则无法显示）-->
<br>


<label for="code">Body</label>
<pre id="code" class="ace_editor" >
    <textarea class="ace_text-input">

    </textarea></pre>

<button type="button"   class="am-btn am-btn-primary am-square" id="sendData">发送请求</button>

<br>
<br>
<label for="codeResponce">Response</label>
<pre id="codeResponce" class="ace_editor" >
    <textarea class="ace_text-input">

    </textarea></pre>

</div>
<script>
    //初始化对象
   editor = ace.edit("code");

    //设置风格和语言（更多风格和语言，请到github上相应目录查看）
   theme = "clouds"
   language = "c_cpp"
   editor.setTheme("ace/theme/" + theme);
    editor.getSession().setMode("ace/mode/json");
    //字体大小
   editor.setFontSize(18);

    //设置只读（true时只读，用于展示代码）
    editor.setReadOnly(false);
    //自动换行,设置为off关闭
    editor.setOption("wrap", "free")

    //启用提示菜单
    ace.require("ace/ext/language_tools");



    //初始化对象
    editorResponce = ace.edit("codeResponce");

    //设置风格和语言（更多风格和语言，请到github上相应目录查看）
    themeResponce = "clouds"
    editorResponce.setTheme("ace/theme/" + themeResponce);
    editorResponce.getSession().setMode("ace/mode/json");
    //字体大小
    editorResponce.setFontSize(18);

    //设置只读（true时只读，用于展示代码）
    editorResponce.setReadOnly(true);

    //自动换行,设置为off关闭
    editorResponce.setOption("wrap", "free")

</script>

<script>

$("#sendData").click(function () {
    var getDa = editor.getValue();
    var jsons = $.parseJSON(getDa);
    var requestUrl =  $("#requestUrl").val();
    jsons.url=requestUrl;
    console.log(jsons);

    $.ajax({
        url: "/commenPost",
        data: JSON.stringify(jsons),
        type: "POST",
        contentType: 'application/json',
        dataType: "text",
        success: function(data) {
            // data = jQuery.parseJSON(data);  //dataType指明了返回数据为json类型，故不需要再反序列化
            editorResponce.getSession().setUseWrapMode(true);
            editorResponce.setValue(data);

        }
    });
})
</script>

</body>
</html>